html, body, h1, h2 {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #1F2937;
  color: #E5E7EB;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 240px;
}

.headerlogo {
  font-size: 24px;
  color: #F9FAF8;
}

.headerlink {
  display: flex;
  gap: 18px;
}

ul {
  list-style-type: none;
}

.hero-content {
  background-color: #1F2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 240px;
}

.hero-main {
  flex-basis: 40%;
}

.heading-text {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
}

.sub-text {
  font-size: 18px;
  color: #E5E7EB;
}

.hero-button {
  background-color: #3882F6;
  color: #F9FAF8;
  padding: 8px 32px;
  border-radius:8px;
  margin-top: 8px;
}

.hero-img {
  flex-basis: 50%;
}

.information {
  display: flex;
  flex-direction: column;
}

.info-items {
  display: flex;
  justify-content: center;
  margin-bottom: 128px;
}

.info-title {
  text-align: center;
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
  margin: 32px 0px;
}

.info-img {
  margin: 0 24px;
  max-width: 200px;
}

.info-img img {
  max-width: 200px;
}

.quote {
  background-color: #E5E7EB;
  padding: 64px;
}

.quote-text {
  font-size: 36px;
  color: #1F2937;
  font-weight: 300;
  max-width: 50%;
  font-style: italic;
  margin: 0 auto;
}

.quote-name { 
  max-width: 50%;
  margin: 0 auto;
  text-align: right;
}

.call-action {
  background-color: #3882F6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 32px;
  margin: 100px auto;
  max-width: 1000px;
  border-radius:16px;
}

.call-button {
  background-color: #3882F6;
  color: #F9FAF8;
  border-color: #F9FAF8;
  padding: 8px 32px;
  border-radius:8px;
  margin-top: 8px;
}

.call-text {
  color: #F9FAF8;
}

.footer {
  color: #E5E7EB;
  background-color: #1F2937;
  text-align: center;
  padding: 64px;
  margin: 0 auto;
}